body {
    //styles applied to body tag;
    text-align: center;
    font-size: 20px;
    color: black;
    background: url(https://raw.githubusercontent.com/Monsix/Monsix/main/Emstudia.gif);
    background-repeat: no-repeat;
    background-size: auto;
    background-color: rgb(141, 135, 135);
    text-transform: capitalize;
}
h1 {
    border: 10px dotted rgb(241, 48, 48);
    color: white;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px red;
    font-family: "Comic Sans", "Courier New", monospace;

}
a {
    font-family: verdana;
    font-size: 20px;
    color: orangered;
    text-align: left;
}
br {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: beige;
    text-align: center;
    p {
    font-family: verdana;
    font-size: 20px;
}