body {
    //styles applied to body tag;
    text-align: center;
    font-size: 20px;
    color: white;
    background: url(https://i.pinimg.com/originals/64/f1/30/64f13080215bb5d7dafdbd73b65ee4ce.jpg);
    background-color: lightblue;
    text-transform: capitalize;
}
h1 {
    border: 10px dotted lightblue;
    color: white;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px red;
    font-family: "Lucida Console", "Courier New", monospace;

}
a {
    font-family: verdana;
    font-size: 20px;
    color: orangered;
    text-align: left;
}
br {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: beige;
    text-align: center;
    p {
    font-family: verdana;
    font-size: 20px;
}
