body {
    //styles applied to body tag;
    text-align: center;
    font-size: 20px;
    color: white;
    background: url(../style/uno.jpg);
    background-color: lightblue;
    text-transform: capitalize;
}
h1 {
    border: 10px dotted lightblue;
    color: white;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px red;
    font-family: "Lucida Console", "Courier New", monospace;

}

p {
    font-family: verdana;
    font-size: 20px;
}
