body {/*Cuerpo*/
    text-align: center;
    font-family: "Comic Sans MS";
    font-size: 25px;
    color: black;
    background: url(https://raw.githubusercontent.com/Monsix/Monsix/main/Emstudia.gif);
    background-position-y: 15pt;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: rgb(141, 135, 135);
    text-transform: capitalize;
}

h1 {/*Título*/
    border: 10px dotted rgb(151, 0, 0);
    color: black;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px red;
    font-family: "Comic Sans MS";

}
a {/*Botones*/
    font-family: "Comic Sans MS";
    font-size: 20px;
    color: rgb(19, 214, 166);
    text-align: left;
}