

h1 {

	font-variant: small-caps;
	text-align: center;
	text-decoration-line:underline;

}

body {	

	background: -webkit-linear-gradient(90deg, #f7ba96 10%, #82cde3 90%);
	background:    -moz-linear-gradient(90deg, #f7ba96 10%, #82cde3 90%);
	background:     -ms-linear-gradient(90deg, #f7ba96 10%, #82cde3 90%);
	background:      -o-linear-gradient(90deg, #f7ba96 10%, #82cde3 90%);
	background:         linear-gradient(90deg, #f7ba96 10%, #82cde3 90%);
  
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Helvetica, sans-serif;	
	font-size: 16px;	
	line-height: 28px;	
	color: #ffffff;	
	margin: 60px;
	
	}

	
a {

	text-decoration:none;
	font-weight: 600;
	font-size: 18px;
	color:#0919f3;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:40px;
	padding-right:40px;
	background-color:transparent;
	border-color: #d8d8d8;
	border-width: 3px;
	border-style: solid;
	border-radius:35px;

	}

a:hover {

	background-color: #f7a678;

	}


#smallpic {

	float:left;

}

#largepic {

	display: block;
	margin:auto;

}
